* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e9f0fa;
  color: #333;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  background-color: #192b74;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

#greeting {
  font-size: 2rem;
  font-weight: bold;
  color: #192b74;
  margin: 20px 0;
  background-color: #eef6fe;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#taskInput, #addBtn, #taskStats, #taskList {
  width: 100%;
  max-width: 600px;
}

#taskInput {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  background-color: white;
  color: #333;
  text-align: center;
}

#addBtn {
  padding: 10px 20px;
  background-color: #192b74;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

#taskStats {
  font-size: 1rem;
  margin-top: 20px;
  color: #192b74;
  background-color: #eef6fe;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#taskList {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  text-align: left; /* Align task list to the left */
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#footer {
  background-color: #192b74;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}
#confettiCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
  display: none; 
}
